html,
body,
.view {
    height: 100%
}

.intro-1 {
    background: url(https://wallpaperscraft.com/image/milky_way_stars_mountains_night_germany_bavaria_sky_45888_1920x1080.jpg) no-repeat center center fixed;
    background-size: cover;
}

.flex-center {
    color: #fff;
}

.navbar .btn-group .dropdown-menu a:hover {
    color: #000 !important;
}

.navbar .btn-group .dropdown-menu a:active {
    color: #fff !important;
}

.fa-search {
    color: white;
}

.form-inline{
    margin: 0;
}