<!-- Setup theme-color -->
{% include head-custom-theme-colors.html %}

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}" -->

<a title="GDPR-compliant Web Analytics" href="https://clicky.com/101400502"><img alt="Clicky" src="//static.getclicky.com/media/links/badge.gif" border="0" /></a>
<script async src="//static.getclicky.com/101400502.js"></script>
<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/101400502ns.gif" /></p></noscript>
