body {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    background: black;
    margin: 0;
    padding: 0;
}

#boundry {
    margin: 47;
    border-style: solid;
    border-color: rgb(254, 203, 47);
}

#chartCanvas{
	margin-left: 47;
}

#chartCanvas2{
	margin-left: 47;
}

#chartCanvas3{
	margin-left: 47;
}

#geneCanvas{
	margin-left: 100;
}